@import "bootstrap";

li{
  list-style: none;
}

body{
  overflow-y: hidden;
}

.header{
  background-color: rgba(44, 48, 59, 0.8);
  img{
    max-width: 124px;
    vertical-align: middle;
    margin: 1rem 0;
    height: 100%;
  }
}

.page-root {
  display: flex;
  flex-direction: row;

  .btn-numpad {
    font-weight: bold;
    vertical-align: middle;
    color: #555555;
    background-color: #e2e2e2;
    cursor: pointer;
    min-width: 0;
    text-align: center;
    border: 1px solid #bfbfbf;
    width: 54px;
    &:hover{
      background-color: #efefef;
    }
  }

  .input-button{
    font-size: 24px;
  }

  .select-mode{
    color: white;
    background: #6EC89B;
    border-color: transparent;
    &:hover{
      background-color: #6EC89B;
    }
  }

  .product-list{
    display: flex;
    flex-flow: row wrap;
    height: 93vh;
    overflow-y: auto;

    .product{
      display: table;
      margin: 5px;
      width: 180px;
      height: 200px;
      cursor: pointer;

      .prod-img{
        width: 100px;
        height: 100px;
        justify-content: center;
        display: table-row;
        img{
          width: 100px;
          height: 100px;
        }
      }

      .price{
        background-color: green;
        color: white;
        display: table-row;
        height: 2rem;
      }
      span{
        text-align: center;
        font-weight: bold;
        display: table-row;
      }
    }
  }

  .product-prev{
    height: 100%;
    .cart-list{
      font-size: 16px;
      text-align: left;
      padding: 10px;
      height: 60vh;
      max-height: 60vh;
      overflow-y: scroll;
      li{
        color: #888;
        cursor: pointer;
        line-height: unset;
        margin-bottom: 1rem;
      }

      .prod{
        padding: 0;
        display: inline-block;
        font-weight: bold;
        &.product-name{
          width: 70%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.product-price{
          width: 30%;
          text-align: right;
        }
      }
      .product-quantity, .product-discount{
        display: inline-block;
        width: 100%;
      }

      .no-items{
        height: 100%;
        vertical-align: middle;
        text-align: center;
        padding: 21rem 0 0 0;
      }
    }

    .cart-totals{
      color: black;
      text-align: right;
      font-weight: bold;
      font-size: 1.5rem;
      padding: 10px;
      div{
        height: 2px;
        background-color: black;
      }
    }
    .actions-pad{
      .pad {
        display: flex;
        flex-flow: row;
        .numpad{
          display: flex;
          flex-flow: row wrap;
          width: 216px;
        }
      }
    }


  }


}

.receipt{
  display: flex;
  flex-direction: row;
  margin-top: 5rem;

  .totals{
    color: green;
    width: 100%;
    height: 100px;
    font-size: 80px;
    text-align: center;
  }
  table{
    width: 32rem;
    text-align: center;
    font-size: large;
    margin: 0 20rem;
  }
  li{
    margin-bottom: 1rem;
  }
}

